@{
    ViewBag.Title = "Sobre este Proyecto";
}
<h2>@ViewBag.Title.</h2>
<h3>Breve descripición</h3>

<p>
    Este proyecto tiene la finalidad de conectar una base de Datos llamada BDCrudTest. <br />
    con este WebSite. Esto dentro del contexto de una prueba tecnica, siguiendo los requerimientos indicados.
</p>
<p>El modelo que se utilizó es el de MVC</p>