@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>Para más Información</h3>

<address>
    Cartago<br />
    Costa Rica<br />
    <abbr title="Phone">Tel:</abbr>
    (contáctame por correo)
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/elmer-eduardo-salazar-flores-5235181a1" target="_blank">Perfil LinkedIn</a><br />
    <strong>Enviarme un correo:</strong>   <a href="mailto:elmer.salazar.f@gmail.com?Subject=Vi%20tu%20proyecto%20y%20quiero%20mas%20informacion">Contactame por email</a><br />
</address>