@{
    ViewBag.Title = "Prueba_Tecnica";
}

<div class="jumbotron">
    <h1>Web Site para Prueba Técnica Quarzo</h1>
    <p class="lead">Utilizando MVC Se conecta a Base de Datos llamada <span class="text-danger" title="Este nombre de BD fue indicado en los requerimientos">BDCrudTest.</span> </p>
    <p><a href="https://github.com/ElmerSF/Prueba-Tecnica-Quarzo" target="_blank" class="btn btn-primary btn-lg" title="Este repositorio se creo junto con el proyecto para irlo trabajando mediante Git">Repositorio en Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Productos de una categoría</h2>
        
        <p>En esta página se puede Consultar todos los productos de una categoría en específico.</p> 
        <p>Se conecta a la BD y por medio de un Procedimiento almacenado llamado <span class="text-danger" title="Este nombre de Procedimiento Almacenado indicado en los requerimientos"> Usp_Sel_Co_Productos.</span>  Enviando 
        como parámetro el ID de Categoría se muestra todos los detalles de los productos asociados a esa categoría.</p>

        <p><a class="btn btn-default" href="../Productos">Productos por Categoría &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Modificacion de una Categoría</h2>
        <p>En esta página puede Modificar una Categoría de Producto se puede Añadir, actualizar e incluso borrar.</p>
        <p>
            Esto gracias a un Procedimiento almacenado llamado <span class="text-danger" title="Este nombre de Procedimiento Almacenado indicado en los requerimientos">Usp_Ins_Co_Categoria.</span>  Se envían los parámetros necesarios y
            se realiza la modificación correspondiente
        </p>
            
        <p><a class="btn btn-default" href="../Categoria">Modificar Categoría &raquo;</a></p>
    </div>
    
</div>